# List Part 2

## List Containing Other Lists
* Lists can hold objects of any type (int, string, dicts, lists, etc.)
* To access the element of a list within another list, you have to index twice
  * you can add a layer of depth with every list within another list (3+ dimensions)

In [3]:
my_list = [["hello", "bye"], [1,5]]

hello = my_list[0][0]
five = my_list[1][1]
print(hello, five)

hello 5

In [5]:
my_list = ["hello", 1, ["dog", 3], "cat", [True, ["frog", 5]]]

hello = my_list[0]
one = my_list[1]
dog = my_list[2][0]
three = my_list[2][1]
cat = my_list[3]
true = my_list[4][0]
frog = my_list[4][1][0]
five = my_list[4][1][1]

print(hello, dog, cat, frog, one, three, five, true)

hello dog cat frog 1 3 5 True

In [27]:
my_super_list = [
    ['superman', 'wonderwoman','batman'],
    ['spiderman','captain america','ironman'],
    ['aquaman']]

# # Create a variable and assign it to wonderwoman via indexing
wonderwoman = my_super_list[0][1]

# # Create a variable and assign it to spiderman via indexing
spiderman = my_super_list[1][0]

# # Create a variable and assign it to aquaman via indexing
aquaman = my_super_list[2][0]

print(wonderwoman, spiderman, aquaman)

wonderwoman spiderman aquaman

## 2D Lists
* We can create a 2 dimensional list
* Another way to think of them is a "list of lists" or a table
* We have to use two indexes for any element
* List_name[i][j]
  * i: row
  * j: column

In [7]:
mdList = [[1,2,3], [4,5,6], [7,8,9]]

## Nested Loops Review
* Nested Loops - a loop within another loop
  * the inner loop runs for each outer loop iteration
  * since we're dealing with a list in a list, using a loop in a loop makes sense

In [8]:
for row in mdList:
  for val in row:
    print(val)

1
2
3
4
5
6
7
8
9

In [12]:
''' Exercise:

Write a 2D list that is a 3x3 grid of numbers
Write some code that prints out that grid nicely wither proper formatting.
'''

lis = [[1,2,3], [4,5,6], [7,8,9]]

for row in lis:
  # print(row)
  for column in row:
    print(column, end=' ')
  print('')

[1, 2, 3]
1 2 3
[4, 5, 6]
4 5 6
[7, 8, 9]
7 8 9

In [28]:
'''
Exercise:

Write some code that goes through a 2D list and prints the rows

'''


lis = [[1,2,3], [4,5,6], [7,8,9]]

for i in range(len(lis[0])):
  for row in lis:
    print(row[i], end=' ')
  print('')

1 4 7
2 5 8
3 6 9

In [26]:
'''
Exercise:

You are given a 2D list representing a table of data with rows and columns.
Write a script to calculate the sum and average of each column in the table.

'''

data = [[45, 56, 89], [67, 34, 78], [23, 67, 34]]

counter = 1
for row in data:
  sum = 0
  for column in row:
    print(column)
    sum += column
  avg = sum / 3
  print(f"Column {counter}: Sum = {sum}, Average = {avg}")
  counter +=1

45
56
89
Column 1: Sum = 190, Average = 63.333333333333336
67
34
78
Column 2: Sum = 179, Average = 59.666666666666664
23
67
34
Column 3: Sum = 124, Average = 41.333333333333336

## List Comprehension
* lets you quickly make a new list based on the values of an existing list
* Only one line of code
* It doesn't modify the original list, it returns a new list

In [29]:
'''
Creating a list via for loop vs List comprehension

Let's say you have a list of vegetables, and you want a new list containing only the vegetables that are less than 6 letters long.


'''

# For Loop

vegetables = ['broccoli', 'kale', 'onion', 'garlic', 'kale']


short_vegetables = []
for v in vegetables:
  if len(v) < 6:
    short_vegetables.append(v)
print(short_vegetables)

['kale', 'onion', 'kale']

In [30]:
# List comprehension
short_vegetables = []
short_vegetables = [v for v in vegetables if len(v) < 6]
print(short_vegetables)

['kale', 'onion', 'kale']

In [31]:
# Lets add a range to a list comprehension
short_vegetables = []
# Remember range arguments go (start, stop, step) and stop is n-1 technically
count_to_fifty_by_two = [i for i in range(0, 51, 2)]
print(count_to_fifty_by_two)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [32]:
'''
You are given a list of integers. Write a Python program to create a new list
that only includes the even numbers from the original list.
You can do this in one line with a list comprehension.
Example:
original_list = [34, 57, 81, 92, 2, 13]
new_list = [34, 92, 2]


'''
original_list = [34, 57, 81, 92, 2, 13]
# We know that taking the modulo 2 (% 2) of a number is a way to tell if its even or odd
new_list = [i for i in original_list if i%2 == 0]
print(new_list)

[34, 92, 2]

In [33]:
''' Exercise


You work for a sales company and must generate a list of all customers who get a certain discount. The criteria for getting a discount is that they're over 60 years old and have made at least 5 purchases.
You have a list of customers over 60, and a list of customers who have made at least 5 purchases. Use a list comprehension to output a list of customers that fit both criteria for the discount. You can do this in one line of code.
Example:
over_60_years = ['Dominic', 'Linda', 'Simone', 'Swathi', 'Olaf']
over_5_purchases = ['Finn', 'Simone', 'Aaron', 'Dominic']
Output: ['Dominic', 'Simone']

'''

over_60_years = ['Dominic', 'Linda', 'Simone', 'Swathi', 'Olaf']
over_5_purchases = ['Finn', 'Simone', 'Aaron', 'Dominic']

customer_discount = []

# For Loop
for customer in over_60_years:
  if customer in over_5_purchases:
    customer_discount.append(customer)
print(customer_discount)

['Dominic', 'Simone']

In [34]:
# Now with list comprehension
customer_discount = [customer for customer in over_60_years if customer in over_5_purchases]
print(customer_discount)

['Dominic', 'Simone']