# Sets and Tuples
## Tuples
* A collection that is ordered and unchangable
* Similar to a list, but you can't add or remove items after initialization
* Uses parentheses () instead of square brackets []
* Used to store constants (data that won't change)

### Tuple Methods
* .count() - returns the number of times a value occurs in a tuple
* .index() - returns the index number (int) of the tuple that holds a specified value

### Tuple Features
* You can index tuples
* You can iterate through tuples using for loops
* You can add two tuples together using '+' operator

In [7]:
my_tuple = (54, 12)
print(type(my_tuple))

<class 'tuple'>

In [8]:
print(my_tuple[0])

54

In [2]:
for value in my_tuple:
  print(value)

54
12

In [4]:
tuple1 = ('a', 'b', 'c')
tuple2 = ('d', 'e')
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'd', 'e')

### Tuple Unpacking
* You can upack the tuple into multiple variables
* You MUST have a variable for each item in the tuple

In [5]:
my_tuple = (1,2,3)
num1, num2, num3 = my_tuple
print(num2)

2

In [6]:
weekdays = [("Monday", 1), ("Tuesday", 2), ("Wednesday", 3), ("Thursday", 4), ("Friday", 5), ("Saturday", 6), ("Sunday", 7)]
for name, num in weekdays:
  print(f"{name} is day {num} of the week.")

Monday is day 1 of the week.
Tuesday is day 2 of the week.
Wednesday is day 3 of the week.
Thursday is day 4 of the week.
Friday is day 5 of the week.
Saturday is day 6 of the week.
Sunday is day 7 of the week.

In [14]:
'''
Exercise:

You have a tuple of numbers and a tuple of months.
Use these tuples to make a list of tuples where each tuple contains a
number and the month it corresponds to.

Now print each month and its number using tuple unpacking like above.
'''

numbers = (1,2,3,4,5,6,7,8,9,10,11,12)
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
year = []

for num in numbers:
  print(months[num-1], num)
  year[num-1] = (months[numbers.index(num)], num)

print(year)

January 1

IndexError: list assignment index out of range

## Set
* A set is a collection that is unordered, unchangable, and unindexed
  * Unchangable, but can add and remove items
* Don't allow for duplicates
* We use curly brackets {}
* Because they aren't ordered, you can't index them
  * you can still loop through with a for loop

### Set Methods
* .add() - add an item to a set (like .append() for a list)
* .clear() - removes all the items of a set
* .copy() - returns a copy of a set
* .difference() - gets the difference between two sets
* .symmetric_difference() - gets the symmetric difference of two sets
* .intersection() - gets intersection (the items that appear in both) of two sets
* .union() - gets union (the items that appear in either or both) of two sets
* .isdisjoint() - returns whether two sets have an intersetion or not
* .remove() - removes the specified element from the set

### Set Features
* Union: all the items that appear in either of the sets (remember no duplicates)
* Intersection: all the items that appear in both sets
* Difference: The items that appear in set A but not set B
* Symmetric Difference: The items that appear in set A or B, but not BOTH
  * opposite of intersection

In [27]:
# Let's add silver .add()
colors = {'blue', 'green', 'red'}
colors.add('silver')
print(colors)

{'silver', 'red', 'green', 'blue'}

In [28]:
# Lets clear all our items .clear()
transportation = {'cars', 'bikes', 'plane'}
transportation.clear()
print(transportation)

set()

In [30]:
# Lets create a copy .copy()
sitcoms = {'friends', 'seinfeld', 'honeymooners'}
new_set = sitcoms.copy()
print(new_set)

{'seinfeld', 'honeymooners', 'friends'}

In [15]:
set_A = {0,1,2,3}
set_B = {2,3,4,5}

In [17]:
# Union
set_A.union(set_B) # can also be typed 'set_A | set_B'

{0, 1, 2, 3, 4, 5}

In [25]:
joel_pets = {'dog', 'cat', 'bird'}
mustafa_pets = {'chickens', 'dog', 'fish'}
sarah_pets = {'bird', 'dog', 'fish'}
leah_pets = {'turtle'}

result = joel_pets | mustafa_pets | sarah_pets | leah_pets
print(result)

{'fish', 'turtle', 'bird', 'dog', 'chickens', 'cat'}

In [18]:
# Intersection
set_A.intersection(set_B) # can also be typed 'set_A & set_B'

{2, 3}

In [24]:
my_schedule = {'mon', 'wed', 'thurs'}
pats_schedule = {'wed', 'fri', 'sat'}
result = my_schedule & pats_schedule
print(result)

{'wed'}

In [19]:
# Difference
set_A.difference(set_B) # can also be types 'set_A - set_B'

{0, 1}

In [21]:
student_set_1 = {'brad', 'dez', 'kenneth', 'pat', 'jean'}
student_set_2 = {'brad', 'dez', 'chelsea'}
result = student_set_1 - student_set_2
print(result)

{'jean', 'kenneth', 'pat'}

In [20]:
# Symmetric Difference
set_A.symmetric_difference(set_B) # can also be typed 'set_A ^ set_B'

{0, 1, 4, 5}

In [26]:
wendy_books = {'catcher in the rye', 'richest man in babylon'}
cain_books = {'catcher in the rye', 'richest man in babylon', 'sounder'}
result = wendy_books ^ cain_books
print(result)

{'sounder'}

In [37]:
'''
Exercise - Sets
You work at a company where some people know Python, some people know JavaScript, and some people know both.
In a loop, prompt the user to input an employee name, whether they know Python, and whether they know JavaScript. Use this to build two sets: a set of employees that know Python, and a set of employees that know JavaScript.
Use set operators to compute the following sets:
The set of employees that know both Python and JavaScript
The set of employees that know JavaScript, but not Python
The set of employees that know Python or JavaScript, but not both
'''

python_devs, js_devs = set(), set()

dev_type_input, dev_name_input = '', ''

msgs = ('Stopping program!', 'Invalid input! Please try again', 'Thank you! Have a nice day')

# User Instructions
print('''
Python and JS Developer Tracker
Instructions
Input 's' or 'stop' at anytime to exit program
To add or Python developer type 'p' when prompted.
To add a JavaScript developer type 'js' when prompted.
''')

while True:
  dev_type_input = input("Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: ").lower()

  if dev_type_input == 'stop':
    print(msgs[0])
    break
  elif dev_type_input == 'p' or dev_type_input == 'js':
    dev_name_input = input("Please enter developer name: ").lower()
    if dev_name_input == 'stop':
      print(msgs[0])
      break
    elif dev_type_input == 'p':
      python_devs.add(dev_name_input.title())
      print(python_devs)
    elif dev_type_input == 'js':
      js_devs.add(dev_name_input.title())
      print(js_devs)
  else:
    print(msgs[1])

  know_both = python_devs.intersection(js_devs)
  know_js_not_python = js_devs.difference(python_devs)
  know_js_or_python_not_both = js_devs.symmetric_difference(python_devs)
  print(f"Knows both: {know_both}")
  print(f"Knows Javascript but not Python: {know_js_not_python}")
  print(f"Knows JS or Python but not both: {know_js_or_python_not_both}")

Python and JS Developer Tracker
Instructions
Input 's' or 'stop' at anytime to exit program
To add or Python developer type 'p' when prompted.
To add a JavaScript developer type 'js' when prompted.

Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: p
Please enter developer name: Jean
{'Jean'}
Knows both: set()
Knows Javascript but not Python: set()
Knows JS or Python but not both: {'Jean'}
Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: js
Please enter developer name: Pat
{'Pat'}
Knows both: set()
Knows Javascript but not Python: {'Pat'}
Knows JS or Python but not both: {'Pat', 'Jean'}
Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: p
Please enter developer name: Pat
{'Pat', 'Jean'}
Knows both: {'Pat'}
Knows Javascript but not Python: set()
Knows JS or Python but not both: {'Jean'}
Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: js
Please enter developer name: Sarah
{'Sarah', 'Pat'}
Knows both: {'Pat'}
Knows Javascript but not Python: {'Sarah'}
Knows JS or Python but not both: {'Sarah', 'Jean'}
Type 'p' for Python Dev, 'js' for Javascript, or 'stop' to exit: stop
Stopping program!