## Ranges
* A group of numbers (must be ints - whole numbers)
* An iterator like a string or a list
* Different than a list of numbers
  * Doesn't store all numbers, instead calculates it to determine the number
  * More memory efficient

* the 'stop' argument makes the range end BEFORE that value (n-1)

In [5]:
# With only one value as an argument, the number creates a range from 0 to that number
# [0,1,2,3,....,23,24]
x = range(25)
# With two values as arguments, the first is start and the second is stop
# [13, 14, 15, ...., 23, 24]
x = range(13, 25)
# With three values as arguments, the first is start, the second is stop, and the third is the step
# [13, 16, 19, 22]
x = range(13, 25, 3)

## Ranges in Loops
* Ranges are commonly paired w/ for loops
* They allow us to use a sequence of numbers rather than iterating over something

In [45]:
# Using the range function, lets count to 20
# Adding end=" " as an argument makes the numbers spaced out instead of a number every line
for x in range(21):
  print(x, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [7]:
for i in range(16, 2, -3):
  print(i, end=' ')

16 13 10 7 4

In [8]:
for i in range(4):
  print(i, i+1, sep=', ')

0, 1
1, 2
2, 3
3, 4

In [10]:
for i in range(3,2):
  print(i)

# Since we are stopping BEFORE 2 and starting at 3 with a step initialized at 1, there is no output

In [15]:
'''
Write a range that is every five years from 1960 to 2000.
'''

for i in range(1960, 2001, 5):
  print(i, end=', ')

1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 2000,

In [16]:
# Write a range that counts down from 30 to 0

for i in range(30, -1, -1):
  print(i, end=', ')

30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0,

In [18]:
'''
Exercise
Rewrite the for loop we made last class that goes through a list and prints each item in the list, along with its index. (Hint: you can use a range, and you won't need a separate counter variable.)

Example:
planets = ["mercury", "venus", "earth", "mars"]
0: mercury, 1: venus, 2: earth, 3: mars
'''

planets = ["mercury", "venus", "earth", "mars"]
output = ''

# Since the length of a list is technically n+1, having it as the stop value as is works (no need to - 1)
for i in range(0, len(planets)):
  print(f"{i}: {planets[i]}")

0: mercury
1: venus
2: earth
3: mars

In [19]:
''' Exercise
You have a list of employees, and a list of job titles. Assume the lists are the same length and in the same order.
Use one for loop to go through both lists and print the job title of each employee.
For example, if these are your lists:
employees = ['Bob', 'Cynthia', 'Abdul']
job_titles = ['accountant', 'engineer', 'recruiter']
This should be your output:
Bob's job title is accountant.
Cynthia's job title is engineer.
Abdul's job title is recruiter.

'''

employees = ['Bob', 'Cynthia', 'Abdul']
job_titles = ['accountant', 'engineer', 'recruiter']

length = len(employees)

for i in range(length):
  print(f"{employees[i]}'s job title is {job_titles[i]}")

Bob's job title is accountant
Cynthia's job title is engineer
Abdul's job title is recruiter

In [44]:
'''
Write some code that creates a range based on what the user enters.
Challenge: you can make a range with 1, 2, or 3 numbers. How would you allow the user to pick any of these options?
'''
# Here is the while True loop to force a valid input for how many arguments
while True:
  args_num = int(input("Enter how many arguments you want to enter (1,2,3): "))

  if (args_num > 3 or args_num <= 0):
    print("Error. Invalid input. Try again")
    continue
  else:
    break

# Initialize the list that will hold the arguments
args = []
# Create a list with the names of each argument for user's knowledge
args_names = ['stop', 'start', 'step']
# Iterates through the number of arguments the user wants to input
for i in range(args_num):
  # Append the user input to the empty 'args' list
  args.append(int(input(f"Enter argument {args_names[i]}: ")))

# Then lets case by case create the range object
# args_num == 1 - only stop
if (args_num == 1):
  rng = range(args[0])
# args_num == 2 - start, stop
elif (args_num == 2):
  rng = range(args[1], args[0])
# args_num == 3 - start, stop, step
elif (args_num == 3):
  rng = range(args[1], args[0], args[2])

# Finally, lets print out the range for testing
for i in rng:
  print(i, end= ' ')

Enter how many arguments you want to enter (1,2,3): -1
Error. Invalid input. Try again
Enter how many arguments you want to enter (1,2,3): 0
Error. Invalid input. Try again
Enter how many arguments you want to enter (1,2,3): 4
Error. Invalid input. Try again
Enter how many arguments you want to enter (1,2,3): 1
Enter argument stop: 50
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49