# Lists (Part 1)
* Stores a group of objects (string, integer, float, list, dictionary, etc.)
* Lists are mutable
  * We can change an individual object in a list using the index
  * We can also add and remove objects from a list
* We can also use lists in a for loop

## Index Review
* Indexing is how we access an individual item inside a group
* We use square brackets []
  * ex: list[index]
* zero based indexing: we start counting at 0 instead of 1
  * The "first" index is [0]
  * The "second" index is [1]

In [2]:
planets = ['mercury', 'venus', 'earth', 'mars', 'jupiter']
print(planets[3])

mars

## Lists in a FOR Loop
* You can iterate through a list in a for loop, just like a string, because a list is an iterable - a collection of objects

In [3]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [7]:
for i in [1,2,3,4]:
  print(i)

# len() function also works for lists
print(f"The length of this list is: {len([1,2,3,4])}")

1
2
3
4

The length of this list is: 4

## List Methods
* .append() - adds an element at the end of the list
* .clear() - removes all the elements from the list
* .copy() - returns a copy of the list
* .count() - returns the number of elements with the specified value
* .extend() - adds the elements of a list (or any iterable) to the end of the current list
* .index() - returns the index of the first element with the specified value
* .insert() - adds an element at the specified position
* .pop() - removes the element at the specified position
* .remove() - removes the first item with the specified value
* .reverse() - reverses the order of the list
* .sort() - sorts the list

In [28]:
# append() Adds an element at the end of the list

days = ['sunday', 'monday']

days.append('tuesday')
print(days)

['sunday', 'monday', 'tuesday']

In [29]:
# clear() Removes all the elements from the list
months = ['january', 'february']

months.clear()
print(months) # outputs '[]' signifying this list is empty

[]

In [30]:
# copy() Returns a copy of the list
copy_me = [1, 2, 6]

new_list = copy_me.copy()
print(new_list) # See how new_list has the same values as copy_me

[1, 2, 6]

In [40]:
# count() Returns the number of elements with the specified value
three_cheers = ['hooray', 'hooray', 'hooray']

# Print out the length of the list and the count of how many 'hooray' values are in the list
length_of_list = len(three_cheers)
print(f'Length: {length_of_list}')

count_of_hooray = three_cheers.count('hooray')
print(f'Count of "hooray": {count_of_hooray}')

# Since both the length and count are 3, lets add a different value (that's not 'hooray') to see the difference.
three_cheers.append("hello")
print("\n\nAdded the value 'hello' to the list\n\n")

# Print out the NEW length of the list and the count of how many 'hooray' values are in the list
length_of_list = len(three_cheers)
print(f'Length: {length_of_list}')

count_of_hooray = three_cheers.count('hooray')
print(f'Count of "hooray": {count_of_hooray}')

Length: 3
Count of "hooray": 3


Added the value 'hello' to the list


Length: 4
Count of "hooray": 3

In [43]:
# extend() Add the elements of a list (or any iterable), to the end of the current list

new_users = ['Sally', 'Mohammad', ]
current_users = ['Ted', 'Brad', 'Charlie']

print(f'New Users: {new_users}\nCurrent Users: {current_users}\n\n')

# We add the new users to the current users list. Now both new_users and current_users have Sally and Mohammad
current_users.extend(new_users)

print(f"Current Users: {current_users}")

New Users: ['Sally', 'Mohammad']
Current Users: ['Ted', 'Brad', 'Charlie']


Current Users: ['Ted', 'Brad', 'Charlie', 'Sally', 'Mohammad']

In [44]:
# index() Returns the index of the first element with the specified value

cartoons = ['bugs bunny', 'minnie mouse', 'daffy duck']

index = cartoons.index('minnie mouse')
print(f"Minnie Mouse Index: {index}")
# index + 1 because the index is zero based
print(f"Minnie Mouse is the {index + 1}nd item in the list")

Minnie Mouse Index: 1
Minnie Mouse is the 2nd item in the list

In [46]:
# insert() Adds an element at the specified position

coding_language = 'Python'
other_languages = ['Javascript', 'Java', 'R']

# We insert 'Python' at the "second" index
other_languages.insert(1, coding_language)
print(other_languages)

['Javascript', 'Python', 'Java', 'R']

.pop() removes by the index
.remove() removes by the value

In [48]:
# pop() Removes the element at the specified position
weather = ['sunny', 'rainy', 'mild']

# Removes index 1 ("second" index which is 'rainy')
weather.pop(1)

print(weather)

['sunny', 'mild']

In [50]:
# remove() Removes the first item with the specified value

movies = ['avengers endgame', 'avengers endgame', 'dune', 'frozen']

# Removes (only one of) the values that are 'avengers endgame'
movies.remove('avengers endgame')

print(movies)

['avengers endgame', 'dune', 'frozen']

In [52]:
# reverse() Reverses the order of the list
num_list = [1, 2, 3, 4, 5, 6]

num_list.reverse()

print(num_list)

[6, 5, 4, 3, 2, 1]

.sort will sort the list that we use the method on.

sorted() takes a list as an argument and returns a new sorted list.

In [53]:
# sort() Sorts the list

letters = ['z', 'b',  'f', 'r']
letters.sort()
print(letters)

nums = [4, 5, 10, 19.8, 1, 1004]
nums.sort()
print(nums)

['b', 'f', 'r', 'z']
[1, 4, 5, 10, 19.8, 1004]

In [55]:
# sorted() this will return a new list
letters = ['z', 'b',  'f', 'r']
nums = [4, 5, 10, 19.8, 1, 1004]

new_letters = sorted(letters)
new_nums = sorted(nums)

print(new_letters)
print(new_nums)

['b', 'f', 'r', 'z']
[1, 4, 5, 10, 19.8, 1004]

In [9]:
'''
Write a while true loop that will keep asking the day of the week until you type in Wednesday
'''

while True:
  # Notice that we use .lower to make sure every letter in the string is set lowercase - this helps with the conditional
  user = input("What day is today?: ").lower()
  # Check if the user input (lowercase) is Wednesday. If so, break out of the loop.
  if (user == 'wednesday'):
    break
  else:
    print(f"Happy {user}")

What day is today?: Monday
Happy monday
What day is today?: Tuesday
Happy tuesday
What day is today?: Wednesday

In [12]:
# As you can see here, a list can hold any data type as an item in the list. Even another list.
i_can_hold_anything = [1, 'cosmos', True, ['blue', 'green', 'red'], {'south', 'east', 5}, {"firstname":'Sonia'}]

for item in i_can_hold_anything:
  print(f"Index {i_can_hold_anything.index(item)}: {item} Type: {type(item)} ")

Index 0: 1 Type: <class 'int'>
Index 1: cosmos Type: <class 'str'>
Index 0: True Type: <class 'bool'>
Index 3: ['blue', 'green', 'red'] Type: <class 'list'>
Index 4: {5, 'east', 'south'} Type: <class 'set'>
Index 5: {'firstname': 'Sonia'} Type: <class 'dict'>

In [27]:
# We can change the value of an individual index - This case is that mercedes is spelled wrong
cars = ['honda', 'ford', 'toyota', 'mersedes'] # mersedes is spelled wrong

# Overwrite the value of index 3
cars[3] = 'mercedes'
print(cars)

['honda', 'ford', 'toyota', 'mercedes']

In [57]:
'''Exercise

Create a for loop that goes through a list and prints each item in the list, along with its index. (Hint: Create a separate counter variable to keep track of the index.)

Example:
planets = ["mercury", "venus", "earth", "mars"]
0: mercury, 1: venus, 2: earth, 3: mars
'''

planets = ["mercury", "venus", "earth", "mars"]

for planet in planets:
  # Using the .index() function (w/ the planet being the iterating value)
  index_of_planet = planets.index(planet)
  print(f'Index {index_of_planet}: {planet}')

Index 0: mercury
Index 1: venus
Index 2: earth
Index 3: mars

In [75]:
'''Exercise

Write some code that takes one list and creates a second list that has the type for each entry in the list. Hint: Use the type() function and a for loop

Optional:
Make sure you filter out any repeats.

'''

old_list = ['Wednesday','Thursday', 'Friday', True, ['blue', 'green', 'red'], {"First Name": "Michelle"}, 12.23, {'Sunday', 'Monday', 'Tuesday'}, (1, 2, 3, 4, 5)]
# New list that will hold types
new_list = []
# For every item in the old list
for item in old_list:
  # Get the type of the item
  item_type = type(item)
  # If the item type isn't in the new list already,
  if item_type not in new_list:
    # Add the item type to the new list
    new_list.append(item_type)
  # If the item is in the new list that's a repeat, so we don't add it to the new list
# Once we go through each item of the old list, print out the new list
# No indent on this line
print(new_list)

[<class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>, <class 'float'>, <class 'set'>, <class 'tuple'>]

In [79]:
'''
Exercise: List of Pets

You want to make a list containing the names of pets. Keep prompting the user for a pet name until they enter "stop". If it's a new pet, add it to the list. If the list already has that pet, don't add it.

'''
# Initialize a list of pets as an empty list
pets = []
# While True to keep looping until we break out of the loop
while True:
  # Get the input from the user
  user = input("Enter a pet: ")

  # If the user input (in all lowercase) is 'stop', ...
  if (user.lower() == 'stop'):
    # Then lets break out of the while True loop
    break
  # If the user input (in all lowercase) isn't 'stop', ...
  else:
    # and if the user input is not already in the list of pets, ...
    if (user.lower() not in pets):
      # add the user input into the list of pets using .append()
      pets.append(user.lower())
      # Just so we can see the addition, lets print out the list after every append
      print(pets)
    # If the user input is not stop and is already part of the list of pets, ...
    else:
      # Print an error message saying try again
      print(f"{user} is already in the list! Try again")
      continue

# Once the user inputs 'stop' to break out of the list, print the final list of pets
print(f"Final list of pets: {pets}")

Enter a pet: DOG
['dog']
Enter a pet: CaT
['dog', 'cat']
Enter a pet: cat
cat is already in the list! Try again
Enter a pet: dog
dog is already in the list! Try again
Enter a pet: MoUsE
['dog', 'cat', 'mouse']
Enter a pet: mouse
mouse is already in the list! Try again
Enter a pet: stop
Final list of pets: ['dog', 'cat', 'mouse']

In [80]:
'''
Example: Removing Values
You have a list of numbers, but it contains multiple of the number 2. Remove the number 2 until it only appears in the list once.

'''

removing_values = [1, 2, 3, 2, 2, 3, 4, 5, 6, 2, 2, 2, 2, 2, 1, 1, 5, 6, 5]

while (removing_values.count(2) != 1):
  removing_values.remove(2)

print(removing_values)

[1, 3, 3, 4, 5, 6, 2, 1, 1, 5, 6, 5]

In [88]:
'''

Exercise: Removing All Duplicates
You have a list storing important data for your company, but it contains some duplicate entries. Go through your list and remove all the duplicates. When you're done, each item should appear in the list exactly once.
Hint: How would you expand our previous example, which removed duplicates of one value, to remove duplicates of all values?
Hint 2: You might want to make a copy of the original list to use as reference. You may want to use more than one loop.

'''

# original list
states = ['alaska', 'alaska', 'alaska', 'alabama', 'alabama', 'new york', 'new york', 'new york']

# Adding the .copy() to the states list updates the list - and that's necessary when we use .remove()
for item in states.copy():
  # Just so we know what we are looking at every loop, lets print the index and the value
  print(f'Index {states.index(item)}: {item}')

  # Get the count of the item in the list
  item_count = states.count(item)
  print(f"Item count: {item_count}\n\n")

  # If the count is greater than 1 (meaning there are duplicates), then remove the item
  if item_count > 1:
    states.remove(item)

# Once we iterate through all the indexes of the list, we will have a version of the list with only unique values (no repeats)
print(f'Final list of states: {states}')

Index 0: alaska
Item count: 3


Index 0: alaska
Item count: 2


Index 0: alaska
Item count: 1


Index 1: alabama
Item count: 2


Index 1: alabama
Item count: 1


Index 2: new york
Item count: 3


Index 2: new york
Item count: 2


Index 2: new york
Item count: 1


Final list of states: ['alaska', 'alabama', 'new york']

In [91]:
# Another way we can do this.
# Sets are like lists but with a few more specific rules
# One rule of sets is that there can't be any repeating values

states = ['alaska', 'alaska', 'alaska', 'alabama', 'alabama', 'new york', 'new york', 'new york']
# We can type cast the list into a set to remove the repeating values
set_states = set(states)
print(set_states)

# Then we can type cast the set back into a list
new_list = list(set_states)
print(new_list)

{'new york', 'alabama', 'alaska'}
['new york', 'alabama', 'alaska']