# Dictionaries
* A collection of keys and values
* Think of it as a dictionary
  * A key is the term
  * A value is the definition

## Dictionary Methods
* .keys() - returns a list of the dictionary keys
* .values() - returns a list of the dictionary values
* .clear() - removes all elements from the dictionary
* .copy() - returns a copy of the dictionary
* .pop() - removes the last inserted key-value pair
* .popitem() - removes the last inserted key-value pair
* .items() - returns a list containing a tuple for each key-value pair
* .update() - update the dictionary with the specified key-value pairs

In [2]:
list1 = ['a', 'b', 'c', 'd', 'e']
dict1 = {0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

print(list1[3], dict1[3])

d d

In [3]:
list1[3] = 'z'
dict1[3] = 'z'
print(list1)
print(dict1)

['a', 'b', 'c', 'z', 'e']
{0: 'a', 1: 'b', 2: 'c', 3: 'z', 4: 'e'}

In [5]:
# How do we create a dictionary?

user_data = {
    "user_id": 400,
    "f_name": "Fritz"
}

print(type(user_data))
print(user_data)

<class 'dict'>
{'user_id': 400, 'f_name': 'Fritz'}

In [7]:
# Bracket notation - we can grab the value by referencing the key
user_id = user_data['user_id']
print(user_id)
f_name = user_data['f_name']
print(f_name)

400
Fritz

In [9]:
# Add new key/value pair
user_data['address'] = "123 Elm Street"
print(user_data)

{'user_id': 400, 'f_name': 'Fritz', 'address': '123 Elm Street'}

In [14]:
# lets look at all the methods available to us
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
# lets try one

print(user_data.__contains__("user_id"))
print(user_data.__contains__("username"))

True
False

In [ ]:
# Dict constructor

new_dict = dict()
# new_dict = {}

In [17]:
# Let's update our name key

user_data = dict(user_id = 400, f_name = 'Daisy')
print(user_data.values())

dict_values([400, 'Daisy'])

In [19]:
# Lets use the keys methods to get the keys from this dictionary
dog = {
    "breed": "japanese chin",
    "gender": "female",
    "age": 7
}

# Let's look at our keys
print(f'The keys for the dog dictionary are {dog.keys()}')

# or set it as a variable?
dog_info = dog.keys()
print(dog_info)

The keys for the dog dictionary are dict_keys(['breed', 'gender', 'age'])
dict_keys(['breed', 'gender', 'age'])

In [20]:
# Lets look at our values
print(f'The values for the dog dictionary are {dog.values()}')

# or set to a variable
values = dog.values()
print(values)

The values for the dog dictionary are dict_values(['japanese chin', 'female', 7])
dict_values(['japanese chin', 'female', 7])

In [21]:
# Lets use clear method to remove all elements
print(dog)
dog.clear()
print(dog)

{'breed': 'japanese chin', 'gender': 'female', 'age': 7}
{}

In [70]:
dog = {
    "breed": "japanese chin",
    "gender": "female",
    "age": 7
}
#  lets look at one of the parameters to show an error if the key doesnt exist
print(dog.get('age'))
print(dog.get('temperament'))
print(dog.get('temperament', 'Key does not exist in dictionary'))

7
None
Key does not exist in dictionary

In [71]:
# Making a copy of a Dictionary
new_dog = dog.copy()
# Here we are effecting the original not the copy
dog['breed'] = 'Golden Retriever'

print(f"Original Dictionary: {dog}\nCopy of Original Dictionary: {new_dog}")

Original Dictionary: {'breed': 'Golden Retriever', 'gender': 'female', 'age': 7}
Copy of Original Dictionary: {'breed': 'japanese chin', 'gender': 'female', 'age': 7}

In [72]:
# Popping a specific item from the dictionary
breed = dog.pop('breed')
print(breed)
print(dog)

Golden Retriever
{'gender': 'female', 'age': 7}

In [73]:
# Popping the last item of a dictionary
age = dog.popitem()
print(age)
print(dog)

('age', 7)
{'gender': 'female'}

In [74]:
# Get a list with each key-value pair with items
dog = {
    "breed": "japanese chin",
    "gender": "male",
    "age": 7
}
keyvalue_list = dog.items()
print(keyvalue_list)

dict_items([('breed', 'japanese chin'), ('gender', 'male'), ('age', 7)])

In [75]:
# we can loop through
for key, value in dog.items():
  print(key, value)

breed japanese chin
gender male
age 7

In [76]:
# Update Dictionary
dog.update({'temperament': "happy"})
print(dog)

{'breed': 'japanese chin', 'gender': 'male', 'age': 7, 'temperament': 'happy'}

In [78]:
# Updating in different ways
# All of the ways also can be used to create new key value pairs
size = {"size": "small"}
dog.update(size)
print(dog)

dog.update({'size': 'medium'})
print(dog)

dog['size'] = 'large'
print(dog)

{'breed': 'japanese chin', 'gender': 'male', 'age': 7, 'temperament': 'happy', 'size': 'small'}
{'breed': 'japanese chin', 'gender': 'male', 'age': 7, 'temperament': 'happy', 'size': 'medium'}
{'breed': 'japanese chin', 'gender': 'male', 'age': 7, 'temperament': 'happy', 'size': 'large'}

In [79]:
'''
Example: Write some code that takes two lists and converts them into one dictionary.
'''
# The 2 given lists
list1 = ['one', 'two', 'three']
list2 = [4, 10, 30]
# Create an empty dictionary to add key value pair into
dict1 = {}

# using a range to iterate through the lists as an index and not a value of either list
for i in range(len(list1)):
  # set the value from list1 as the key and the value from list2 as the value of the corresponding key
  dict1[list1[i]] = list2[i]

# Finally print the resulting dictionary
print(dict1)

{'one': 4, 'two': 10, 'three': 30}

In [81]:
# Theres a more efficient way to do this
# The zip() function allows you to pair two or more datasets

# We have to set the datatype as dict so the zip knows how to format it
dict2 = dict(zip(list1, list2))
print(dict2)

{'one': 4, 'two': 10, 'three': 30}

In [83]:
'''
Exercise

Write a dictionary that five countries and their languages Then have your code print the languages of each country one at a time.
Hint: Use the items() method


'''
languages = { 'USA': 'English', 'Mexico': 'Spanish', 'France': 'French', 'Portugal':'Portugese', 'Belgium':'Dutch' }

for country, language in languages.items():
  print(f"The language of {country} is {language}")

The language of USA is English
The language of Mexico is Spanish
The language of France is French
The language of Portugal is Portugese
The language of Belgium is Dutch

In [86]:
# As datasets, we can use bracket notation
choices = {"flavors":['strawberry', 'vanilla', 'orange'],
           "sizes":['large', 'medium', 'small']}

strawberry = choices['flavors'][0]
vanilla = choices['flavors'][1]
orange = choices['flavors'][2]

large = choices['sizes'][0]
medium = choices['sizes'][1]
small = choices['sizes'][2]

print(orange, vanilla, strawberry)
print(small, medium, large)

orange vanilla strawberry
small medium large

## Pandas Example

In [88]:
import pandas as pd

choices.update({"region": ["central asia", "south america", "united states"]})

choices_df = pd.DataFrame(choices)
print(choices_df)

      flavors   sizes         region
0  strawberry   large   central asia
1     vanilla  medium  south america
2      orange   small  united states

In [90]:
'''
In statistics, the mode is the value that appears most frequently in a dataset.
For example, in this list: [1,2,4,1,3,4,1,1] the mode is 1
Write some code that uses a dictionary to calculate the mode of a list.

'''

my_list_items = [1,2,4,1,3,4,1,1] # our list


output = {}

for m in my_list_items:
  if m not in output:
    output[m] = 1
  else:
    output[m] += 1

print(output)

# We can also use the .count() function
for m in my_list_items:
  output[m] = my_list_items.count(m)
print(output)

{1: 4, 2: 1, 4: 2, 3: 1}
{1: 4, 2: 1, 4: 2, 3: 1}

In [92]:
# In normal professional coding situations, we would use a library to do the work for us for efficiency
from statistics import mode
result = mode(my_list_items)
print(f"The modes is {result}")

The modes is 1

In [96]:
'''
Suppose you have a list of employee records that contain the following information for each employee: name, job title, salary. The records are stored as a list of dictionaries.
Use this list to create a dictionary where the keys are the job titles and the values are the average salaries for each job title.
Example:
records = [{'name': 'Bob', 'title': 'manager', 'salary': 50000},\
           {'name': 'Alice', 'title': 'developer', 'salary': 60000},\
           {'name': 'David', 'title': 'developer', 'salary': 65000}]
Output: {'manager': 50000, 'developer': 62500}
'''

records = [
    {'name': 'Bob', 'title': 'manager', 'salary': 50000},
    {'name': 'Alice', 'title': 'developer', 'salary': 60000},
    {'name': 'David', 'title': 'developer', 'salary': 65000}
]

manager_salaries = []
developer_salaries = []
output = {}

# Get a list of salaries for each position
for person in records:
  if person['title'] == 'manager':
    manager_salaries.append(person['salary'])
  elif person['title'] == 'developer':
    developer_salaries.append(person['salary'])

# Initialize variables to zero
developer_avg = 0
manager_avg = 0

# For every salary in the manager salaries, get the sum then divide by the length to get the average
for salary in manager_salaries:
  manager_avg += salary
manager_avg /= len(manager_salaries)

# For every salary in the developer salaries, get the sum then divide by the length to get the average
for salary in developer_salaries:
  developer_avg += salary
developer_avg /= len(developer_salaries)

# Add the key and value pairs to the output dictionary
output['manager'] = manager_avg
output['developer'] = developer_avg

# Print out the output to check
print(output)

# This way only accounts for managers and developers
# The way jean did in the class recordings is more modular to the record dictionaries

{'manager': 50000.0, 'developer': 62500.0}

In [101]:
records = [
    {'name': 'Bob', 'title': 'manager', 'salary': 50000},
    {'name': 'Alice', 'title': 'developer', 'salary': 60000},
    {'name': 'David', 'title': 'developer', 'salary': 65000}
]

title_salaries = {}
title_count = {}

for person in records:
  if person['title'] not in title_count.keys():
    title_count[person['title']] = 1
    title_salaries[person['title']] = person['salary']
  else:
    title_count[person['title']] += 1
    title_salaries[person['title']] += person['salary']

# print(title_salaries, title_count)
result = {s:float(title_salaries[s])/title_count[s] for s in title_salaries}
print(result)

{'manager': 50000.0, 'developer': 62500.0}