# FUNctions (part 2)

## Making Functions More Versatile
* Functions can have more than 0 or 1 parameter/argument
* We can set a parameter to have a default value, so that the user can redefine if needed
  * parameters with default values don't need to be called in the function - they will just default to that value
* The number of arguments will always be less than or equal to the number of parameters, never greater than

In [2]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function()

I am from Norway

In [3]:
my_function("Sweden")

I am from Sweden

Here we define a power function to calculate the exponent based on a number, and a exponent numerator and denominator

We call the function with two arguments.
This will fill in the first two parameters if not specified.

This means 2**(2/1) = 4

In [4]:
def power(num, exp_num=1, exp_den=1):
  num **= (exp_num/exp_den)
  return num

pow1 = power(2,2)
print(pow1)

4.0

Here we set each parameter to 2.
This means 2**(2/2) = 2**1 = 2

In [5]:
print(power(2,2,2))

2.0

Here we set num to 2 and exp_den to 2 while leaving exp_num to its default value.

This means 2**(1/2)

In [7]:
print(power(2, exp_den=2))

1.4142135623730951

## Returning Multiple Values
* Sometimes it is useful to return multiple values from a function
* Separate them by commas
* Make sure the number of return values line up with the variables you set them to

In [8]:
def get_vowels_and_consonants(word):
  vowels =""
  consonants = ""
  for letter in word:
    if letter in "aeiou":
      vowels += letter
    elif letter in 'bcdfghjklmnpqrstvwxyz':
      consonants += letter
  return vowels, consonants

v, c = get_vowels_and_consonants("apple")
print(v)
print(c)

ae
ppl

In [44]:
'''
Exercise
Write a Python function called get_stats that takes in a list of numbers and returns the following three values: The mean, the median, and the mode of the list.
Call the function on a list, and print each statistic on a separate line.
my_list = [1,2,4,5,5]
Output:
Mean: 3.4
Median: 4
Mode: 5
'''
import statistics as stat
from statistics import mean, median, mode
my_list = [1,2,4,5,5]

def get_stats(num_list):
  list_mean = stat.mean(num_list)
  list_median = stat.median(num_list)
  list_mode = stat.mode(num_list)
  return list_mean, list_median, list_mode

mean, median, mode = get_stats(my_list)
print(mean)
print(median)
print(mode)

3.4
4
5

## Global Variables
* If you create a variable in a function, it's only available while the function is running
  * isn't accessible outside a function
* If you create a variable outside a function, that variable is a global
  * this means it can be accessible anywhere in code
  * if you want to access the global in your function, you have to use the global keyword

In [9]:
x = 'challenging'

def change_x():
  x = 'fun'

change_x()

print("Programming is", x)

Programming is challenging

In [10]:
def change_x():
  global x
  x = 'fun'

change_x()

print("Programming is", x)

Programming is fun

## Docstring
* On the first line of your function, you can write a comment called a doc string
* The docstring explains the use of the functions
* It should contain:
  * A description of the function
  * Each parameter and its purpose
  * The return value of the function

In [11]:
def area_of_rectangle(height: float, width: float) -> float:
  ''' Returns the area of a rectangle.

  - height: the hieght of the rectangle (float)
  - width: the width of the rectangle (float)

  Returned value: the area as a float.
  '''
  return height * width

In [45]:
'''
Exercise
Write a function called center that returns either the mean or median of a list of numbers.
This function should take two parameters: A list of numbers, and an optional parameter called use_median which should default to False.
If use_median is False, return the mean of the list.
If use_median is True, return the median of the list.
Test your function by calling it with different arguments.
'''
import statistics as stat

def center(input_list: list, use_median: bool = False) -> float:
  '''
  Returns the center of a list (whether that means the middle index, or the middle value)

  - input_list: The list that we perform the median or mean calculations on (list)
  - use_median: The boolean parameter that determines whether we calculate the mean or the median (bool)

  Return: Float or Int
  - The median of the input_list if use_median set to True
  - The mean of the input_list if use_median set to False
  '''
  return stat.mean(input_list) if use_median == False else stat.median(input_list)
  # if use_median == True:
  #   return stat.median(input_list)
  # else:
  #   return stat.mean(input_list)

In [46]:
list_1 = [1,2,3,4,5,6]
list_2 = [0, 25, 50, 100, 200, 400, 1600]


print(f"The median of list_1: {center(list_1, use_median=True)}")
print(f"The mean of list_1: {center(list_1, use_median=False)}\n")

print(f"The median of list_2: {center(list_2, use_median=True)}")
print(f"The mean of list_2: {center(list_2, use_median=False)}")

The median of list_1: 3.5
The mean of list_1: 3.5

The median of list_2: 100
The mean of list_2: 339.2857142857143

In [47]:
test_list1 = [1,2,2,2,3,4,5,6,7,8]
test_list2 = [3,6,7,9,10,11,2]

print(f"The median of test_list1: {center(test_list1, use_median=True)}")
print(f"The mean of test_list1: {center(test_list1, use_median=False)}\n")

print(f"The median of test_list2: {center(test_list2, use_median=True)}")
print(f"The mean of test_list2: {center(test_list2, use_median=False)}")

The median of test_list1: 3.5
The mean of test_list1: 4

The median of test_list2: 7
The mean of test_list2: 6.857142857142857

## Lambda Functions
* A lambda is a small anonymous function
* It can take any number of arguments, but only can have one expression, which is returned
* Syntax: lambda arguments : expression

Lambda format

In [12]:
add_2 = lambda a : a + 2
print(add_2(2))

4

Function format

In [48]:
def add_2(a):
  return a + 2

print(add_2(2))

4

In [49]:
# Function to add two numbers
def add_2_nums_function(num1, num2):
  return num1 + num2

# Written as a Lambda
add_2_nums_lambda = lambda num1, num2: num1 + num2

print(add_2_nums_function(1,2))
print(add_2_nums_lambda(1,2))

3
3

In [31]:
# Write the following functions as Lambdas
def greeting(fname):
    print(f'Hello, {fname}')

greeting = lambda fname: f'Hello, {fname}'

greeting("Sally")

'Hello, Sally'

In [32]:
def double_me(num):
    return num + num

double_me = lambda num : num * 2

print(double_me(500))

1000

In [33]:
'''
Exercise
Write a function that computes the n-th power of a number, given two arguments, num and n.
Now, write a lambda that is equivalent to the function.
'''
# function
def nth_power(num, n):
  return num ** n

# lambda
nth_power = lambda num , n : num ** n

print(nth_power(3, 2))

9

You can put lambdas inside functions to make a more versatile function

In [22]:
def multiplier(n):
  return lambda num : num * n

doubler = multiplier(2)
tripler = multiplier(3)

print(doubler(5))
print(tripler(5))

10
15

## More on lambdas
*  Lambda calculus
* Python has a few functional programming topics (such as lambdas) added
  * Some other topics include: filter, map, and reduce
* Lambdas can be used alongside filter, map, and/or reduce
  * Also as a key with the sorted() function

In [23]:
L = list(map(lambda x: x.upper(), ['cat', 'dog', 'cow']))
print(L)

['CAT', 'DOG', 'COW']

In [26]:
students = [{"name":"Kim","grade":98},
            {"name":"Joe","grade":65},
            {"name":"Ted","grade":93},
            {"name":"Keisha","grade":80},
            {"name":"Torrie","grade":65},
            {"name":"Simon","grade":78}]

students_by_name = sorted(students, key = lambda s: s['name'])
students_by_grade = sorted(students, key = lambda s: s['grade'])

print(students_by_name)
print(students_by_grade)

[{'name': 'Joe', 'grade': 65}, {'name': 'Keisha', 'grade': 80}, {'name': 'Kim', 'grade': 98}, {'name': 'Simon', 'grade': 78}, {'name': 'Ted', 'grade': 93}, {'name': 'Torrie', 'grade': 65}]
[{'name': 'Joe', 'grade': 65}, {'name': 'Torrie', 'grade': 65}, {'name': 'Simon', 'grade': 78}, {'name': 'Keisha', 'grade': 80}, {'name': 'Ted', 'grade': 93}, {'name': 'Kim', 'grade': 98}]

In [50]:
''' Higher Order Functions
These are functions that may accept a function as an argument or return a function as its output. In Python, reduce(), map() and filter() are some of the most important higher-order functions. When combined with simpler functions, they can be used to execute complex operations.

filter - The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

map - returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

'''
# Let's use filter() to find the even numbers in a list
# filter(fun, iter)

# Function
def even_num(n):
  return n % 2 == 0

# Lambda
even_num = lambda n : n % 2 == 0

print(even_num(10))

True

In [52]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]

even_num_filter = list(filter(lambda n : n % 2 == 0, my_list))
print(even_num_filter)

[0, 2, 4, 6, 8, 10]